.pagination {
  &__list {
    display: flex;
    flex-direction: row;
    column-gap:19px;
  }

  &__button{
    @include reset-button;
    @include flex-center;
    @include square(24px);

    @include hover{
      color:var(--color-accent);
    }
    color:var(--color-light);

    &.is-current{
      color:var(--color-accent);
    }
    &.disabled{
      color: var(--color-gray-alt);
    }
  }
}